body {
  font-family: 'Inter', sans-serif;
}

.fa-angle-down {
  margin-left: 5px;
}

.ul-left {
  margin-left: 100px;
}

.navbar-default .navbar-nav>li>a {
  color: #3b4c72;
  font-weight: 500;
}

.sign-up {
  color: #016dff;
  background-color: #fff;
  border: 1px solid #016dff;
  border-radius: 5px;
  font-weight: 500;
}

.sign-up:hover {
  padding: 6px 12px;
  color: #fff;
  background-color: #016dff;
  transition: background-color .5s;
}

.jumbo {
  color: #fff;
  padding-top: 100px;
  background-image: url(../img/bg-sea.svg);
  background-size: cover;
  /* height: 2000px; */
  background-repeat: no-repeat;
}

.jumbo-title {
  font-size: 50px;
}

.jumbo-text {
  font-size: 20px;
}

.darkblue {
  color: #031c4e;
}

.lightblue {
  color: #016dff;
}

.lightgrey {
  color: #6f7b97;
}

.content > .form > h3 {
  margin: 10px 0;
}

.form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 8px;
}

.btn-card > button {
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.font-weight500 {
  font-weight: 500;
}

.margin-bottom50 {
  margin-bottom: 50px;
}

.account {
  color: #fff;
  background-color: #016dff;
  border: 0;
}

.account:hover {
  color: #fff;
  background-color: rgba(1, 109, 255, 0.6)
}



.btn-signup {
  position: relative;
  box-shadow: 1px 1px #e3e3e3;
}

.logo-g {
  width: 20px;
  float: left;
}

.margin-top {
  margin-top: 10px;
}

.padding20 {
  padding: 20px 0;
}

.partners {
  padding-top: 50px;
  background-color: #f3f5f9;
}

.logo-content {
  position: relative;
  height: 100px;
}

.logo-content > img {
  position: absolute;
  top: 0;
  left: 50%; transform: translateX(-50%);
  height: 100%;
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .navbar-header {
    width: 100%;
  }
    .navbar-toggle {
    display: block;
  }
    .navbar-nav, .navbar-right {
    display: none;
  }
}
